.categoryList {
  margin-top: 1rem;
}

.categoryItem {
  cursor: pointer;
  padding: 0.65rem;
  border: 1px solid var(--border-color);
  margin-bottom: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: var(--font-body);
  font-size: 1rem;
}

.categoryItem:hover {
  background-color: var(--light-gray);
  box-shadow: var(--box-shadow-secondary);
}
